#canvas {
    border: 2px solid black;
    
  }
  body{
      text-align: center;
      font-family: 'Rubik', sans-serif;
      
      font-weight: bold;
  }
  img{
      width: 800;
      height: 400;
  }